@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 bg-white dark:bg-gray-900 dark:text-gray-100;
  }
}

.markdown-body {
  @apply text-sm leading-relaxed;
}

.markdown-body p {
  @apply mb-4 last:mb-0;
}

.markdown-body pre {
  @apply rounded-lg my-2 overflow-x-auto p-4;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-600;
}